{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<h1 class="myMessage">Create a new Pizza</h1>

<div class='list-container'>
<form action="" method="POST">
  <label for="name">Name your Pizza:  </label> 
  <input type="text" name="pizzaName" required>
  <label for="name"> and price (price is for medium size):  </label> 
  <!-- <input type="text" name="pizzaPrice" required> -->
  <input type="number" name="pizzaPrice" required step="1">

  <br>
  <br>
  <br>
  <!-- <label for="inventory">Inventory:</label> -->
  <!-- <button class="create-pizza-btn" type="submit" name="addTopping" id="addPizza">Create Pizza</button> -->
  <div class="ingredients">
    <div class="ingredient">
      <label for="ingredient1">TOPPING 1:</label>
      <select name="ingredient1" id="ingredient1">
        {% for ingredient in toppingList %}
        <option value="{{ ingredient }}">{{ ingredient }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="ingredient">
      <label for="ingredient2">TOPPING 2:</label>
      <select name="ingredient2" id="ingredient2">
        {% for ingredient in toppingList %}
        <option value="{{ ingredient }}">{{ ingredient }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="ingredient">
      <label for="ingredient3">TOPPING 3:</label>
      <select name="ingredient3" id="ingredient3">
        {% for ingredient in toppingList %}
        <option value="{{ ingredient }}">{{ ingredient }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="ingredient">
      <label for="ingredient4">TOPPING 4:</label>
      <select name="ingredient4" id="ingredient4">
        {% for ingredient in toppingList %}
        <option value="{{ ingredient }}">{{ ingredient }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="ingredient">
      <label for="ingredient5">TOPPING 5:</label>
      <select name="ingredient5" id="ingredient5">
        {% for ingredient in toppingList %}
        <option value="{{ ingredient }}">{{ ingredient }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br>
  
  <button class="create-pizza-btn" type="submit" name="addPizza" id="addPizza">Create Pizza</button>

</form>

<p>If topping is not included, add new Topping below:</p>



<form action="" method="POST">
  <label for="name">Name of new Topping -></label>
  <input type="text" name="toppingName" required>
  <!-- <label for="inventory">Inventory:</label> -->
  <button class="create-pizza-btn" type="submit" name="addTopping" id="addTopping">Add Topping</button>
</form>


{% endblock content %}