{% extends "base.html" %} 

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1 class='topping-container'>Your order History (recent orders are shown first):</h1>
{% for order in orders %}
    <div class='topping-container'>
        <h2 class='myMessage'>{{order}}</h2>
    </div>
{% endfor %}

{% endblock content %}