
{% extends 'base.html' %}

{% block content %}


<!--  Prints the messages from the Flask Flash function -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Loops every record in the Pizza table so that each pizza get a separate form. Each for dynamically gets assigned a unique id based pizzaID. -->
{% for pizza in pizzas %}
  <form action="" method="POST" class="pizzaForm" id="pizzaForm-{{ pizza.id }}">
    <h2 class="pizzaName"> {{ pizza.name }} </h2>

    <h3>Toppings: {{ pizza.toppings|map(attribute='name')|join(', ') }}</h3>

    <!-- Each radio button also gets dynamically gets assigned a unique id.  -->
    <h2>Select pizza size:</h2>
    <div class="size-container">
      <label for="{{ pizza.id }}_small">
        <input type="radio" name="{{ pizza.id }}_size" id="{{ pizza.id }}_small" value="Small">
        Small
          <!-- A PizzaPrices table is getting lopped though and if a match is found between the pizza name and the pizza size the price is displayed  -->
        {% for price in prices %}
          {% if price.pizza == pizza.name and price.size == 'Small' %}
            {{ price.price }}kr
            <input type="hidden" name="{{ pizza.id }}_price_small" value="{{ price.price }}">
          {% endif %}
        {% endfor %}
      </label>

      <label for="{{ pizza.id }}_medium">
        <input type="radio" name="{{ pizza.id }}_size" id="{{ pizza.id }}_medium" value="Medium" checked>
        Medium
        {% for price in prices %}
          {% if price.pizza == pizza.name and price.size == 'Medium' %}
            {{ price.price }}kr
            <input type="hidden" name="{{ pizza.id }}_price_medium" value="{{ price.price }}">
          {% endif %}
        {% endfor %}
      </label>

      <label for="{{ pizza.id }}_large">
        <input type="radio" name="{{ pizza.id }}_size" id="{{ pizza.id }}_large" value="Large">
        Large
        {% for price in prices %}
          {% if price.pizza == pizza.name and price.size == 'Large' %}
            {{ price.price }}kr
            <input type="hidden" name="{{ pizza.id }}_price_large" value="{{ price.price }}">
          {% endif %}
        {% endfor %}
      </label>
    </div>
    <button type="submit" name="submit_pizza" value="buy_{{ pizza.id }}" disabled id="buyButton-{{ pizza.id }}">Buy {{ pizza.name }}</button>
  </form>


<!-- This js script monitors the result of the is_in_stock function and if depending on the result the buy button is disabled, the background color is changed to red and and the text of the buy button is changed -->
<script>
  var form = document.querySelector("#pizzaForm-{{ pizza.id }}");
  var stock_level = "{{ is_in_stock(pizza.toppings, toppings) }}";
  var buyButton = form.querySelector("#buyButton-{{ pizza.id }}");
  
  if (stock_level == 'nothing') {
    form.style.backgroundColor = "#ff9999";
    buyButton.disabled = true;
    buyButton.textContent = "Out of stock";
  } else {
    form.style.backgroundColor = "#2b7bd4";
    buyButton.disabled = false;
    buyButton.textContent = "Buy {{ pizza.name }}";
  }
</script>
{% endfor %}

<!-- This script keeps track of the last clicked pizza div by changing its is-active status. When is-active is True the border changes color to green -->
<script>
  const pizzaForms = document.querySelectorAll('.pizzaForm');
  let lastClickedPizzaForm = null;
  
  pizzaForms.forEach(pizzaForm => {
    pizzaForm.addEventListener('click', () => {
      if (lastClickedPizzaForm !== null && lastClickedPizzaForm !== pizzaForm) {
        lastClickedPizzaForm.classList.remove('is-active');
      }
      pizzaForm.classList.toggle('is-active');
      lastClickedPizzaForm = pizzaForm;
    });
  });
</script>

{% endblock content %}





{% block sidebar %}

<p class="myMessage">Your current order below:</p>

<!-- The sidebar loops through the records from the PizzaOrder table. Each record gets a dynamically assigned button that is a route function to delete that PizzaOrder record based on it's id -->
{% for order in orders %}
  <div class='list-container'>
    <div class="sideBYside">
      <h2>{{ order }}</h2>
      <form action="{{ url_for('views.remove_order', order_id=order.id) }}" method="POST">
        <button class="myButton" type="submit" name="removeOrder" value="{{ order }}">Remove</button>
      </form>
    </div>
  </div>
{% endfor %}

<!-- This makeOrder button empties the PizzaOrder Table and copies it over to the OrderHistory table. Also an orderID is generated and total price is calculated -->
<form action="{{ url_for('views.home') }}" method="POST">
  <button class="myButton" type="submit" name="makeOrder" value="makeOrder">Click to send order! Total current price: {{ current_price }} </button>
</form>

{% endblock sidebar %}


