{% extends "base.html" %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<h1>Delete Pizza OR Topping</h1>

  

<div class="stockTopping">
<form action="" method="POST">
  <label for="name">Select pizza that you wish to delete: </label> 
  <select name="pizzaName" id="pizzaName">
    {% for pizza in pizzas %}
    <option value="{{ pizza.name }}">{{ pizza.name }}</option>
    {% endfor %}
  </select>
  <br>
  <br>

  <button class="" type="submit" name="delete_pizza">Delete Pizza</button>

  <h3> OR </h3>

  <label for="name">Select topping that you wish to delete: </label> 
  <select name="toppingName" id="toppingName">
    {% for topping in toppingList %}
    <option value="{{ topping }}">{{ topping }}</option>
    {% endfor %}
  </select>

  <br>
  <br>

  <button class="" type="submit" name="delete_topping">Delete Topping</button>



</form>



{% endblock content %}