
{% extends 'base.html' %}

{% block content %}


<!-- <div id="selected-pizza"> {{ selected_pizza }} </div> -->

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% for pizza in pizzas %}
  <form action="" method="POST" class="pizzaForm" id="pizzaForm-{{ pizza.id }}">
    <h2 class="pizzaName"> {{ pizza.name }} </h2>
    <!-- {% for pizzaTopping in pizza.toppings %}
      <h2> {{ pizzaTopping.name }} </h2>
    {% endfor %} -->
    <h3>Toppings: {{ pizza.toppings|map(attribute='name')|join(', ') }}</h3>

    <h2>Select pizza size:</h2>
    <div class="size-container">
      <label for="{{ pizza.id }}_small">
        <input type="radio" name="{{ pizza.id }}_size" id="{{ pizza.id }}_small" value="Small">
        Small  
        {% for price in prices %}
          {% if price.pizza == pizza.name and price.size == 'Small' %}
            {{ price.price }}kr
            <input type="hidden" name="{{ pizza.id }}_price_small" value="{{ price.price }}">
          {% endif %}
        {% endfor %}
      </label>

      <label for="{{ pizza.id }}_medium">
        <input type="radio" name="{{ pizza.id }}_size" id="{{ pizza.id }}_medium" value="Medium" checked>
        Medium
        {% for price in prices %}
          {% if price.pizza == pizza.name and price.size == 'Medium' %}
            {{ price.price }}kr
            <input type="hidden" name="{{ pizza.id }}_price_medium" value="{{ price.price }}">
          {% endif %}
        {% endfor %}
      </label>

      <label for="{{ pizza.id }}_large">
        <input type="radio" name="{{ pizza.id }}_size" id="{{ pizza.id }}_large" value="Large">
        Large
        {% for price in prices %}
          {% if price.pizza == pizza.name and price.size == 'Large' %}
            {{ price.price }}kr
            <input type="hidden" name="{{ pizza.id }}_price_large" value="{{ price.price }}">
          {% endif %}
        {% endfor %}
      </label>
    </div>
    <!-- <button type="submit" name="submit_pizza" value="buy_{{ pizza.id }}">Buy {{ pizza.name }}</button> -->
    <button type="submit" name="submit_pizza" value="buy_{{ pizza.id }}" disabled>Buy {{ pizza.name }}</button>
  </form>

  <script>
    var form = document.querySelector("#pizzaForm-{{ pizza.id }}");
    var stock_level = "{{ is_in_stock(pizza.toppings, toppings) }}";
    if (stock_level == 'nothing') {
      form.style.backgroundColor = "red";
      form.disabled = true; // disable the form
    } else {
      form.style.backgroundColor = "#2b7bd4";
      form.disabled = false; // enable the form
    }
  </script>
  <script>
    var form = document.querySelector("#pizzaForm-{{ pizza.id }}");
    var stock_level = "{{ is_in_stock(pizza.toppings, toppings) }}";
    if (stock_level == 'nothing') {
      form.style.backgroundColor = "red";
      form.querySelector("button[type=submit]").disabled = true; // disable the form
    } else {
      form.style.backgroundColor = "#2b7bd4";
      form.querySelector("button[type=submit]").disabled = false;
    }
  </script>

{% endfor %}

<script>
  const pizzaForms = document.querySelectorAll('.pizzaForm');
  let lastClickedPizzaForm = null;
  
  pizzaForms.forEach(pizzaForm => {
    pizzaForm.addEventListener('click', () => {
      if (lastClickedPizzaForm !== null && lastClickedPizzaForm !== pizzaForm) {
        lastClickedPizzaForm.classList.remove('is-active');
      }
      pizzaForm.classList.toggle('is-active');
      lastClickedPizzaForm = pizzaForm;
    });
  });
</script>




{% endblock content %}


{% block sidebar %}
  <h1>Your Order ↓ ↓ ↓</h1>
{% for order in orders %}
  <div class='pizzaForm'>
    <h2> {{order}} </h2>
  </div>
{% endfor %}
<form action="{{ url_for('views.home') }}" method="POST">
  <button type="submit" name="makeOrder" value="makeOrder">Make your Order! Total price for pizzas are: ... </button>
</form>

{% endblock sidebar %}


